name: Keep Alive

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  curl-website:
    runs-on: ubuntu-latest

    steps:
      - name: Run cURL on Website
        run: curl -f ${{ secrets.VERCEL_URL }}/health || exit 1